---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import Intro from "../components/Intro.astro";
import About from "../components/About.astro";
import Servicios from "../components/Servicios.astro";
import Horario from "../components/Horario.astro";
import Equipo from "../components/Equipo.astro";
import Galeria from "../components/Galeria.astro";
import Maps from "../components/Maps.astro";
import Contacto from "../components/Contacto.astro";
---

<Layout title=" Siam May Thai | Gimnasio de Muay Thai en Jerez">
  <main>
    <NavBar />
    <Intro />
    <About />
    <Servicios />
    <Horario />
    <Equipo />
    <Galeria />
    <Maps />
    <Contacto />
  </main>
</Layout>
