---
import Layout from "@/layouts/Layout.astro";
import Navbar from "@components/NavBar.astro";
import Footer from "@components/Footer.astro";
import { Image } from "astro:assets";
import grimaldi from "../images/grimaldi.webp";
import rainer from "../images/rainer.webp";
import cristobal from "../images/cristobal.webp";
import medel from "../images/medel.webp";
import daniel from "../images/daniel.webp";
import larisa from "../images/larisa.webp";
import kinoa from "../images/kinoa.webp";
import user from "../images/user.webp";

const luchadores = [
  {
    nombre: "Alvaro Grimaldi",
    apodo: "La Bestia",
    peso: "Peso Wélter",
    record: "1 - 0 - 0",
    foto: grimaldi,
  },
  {
    nombre: "Gonzalo Rainer",
    apodo: "Boneless",
    peso: "Peso Pluma",
    record: "1 - 0 - 0",
    foto: rainer,
  },
  {
    nombre: "Cristóbal López",
    apodo: "Ardilla",
    peso: "Peso Ligero",
    record: "",
    foto: cristobal,
  },
  {
    nombre: "Juan Manuel Medel",
    apodo: "El Romano",
    peso: "Peso Wélter",
    record: "",
    foto: medel,
  },
  {
    nombre: "Daniel Romero",
    apodo: "El Cazador",
    peso: "Peso Wélter",
    record: "1 - 0 - 0",
    foto: daniel,
  },
  {
    nombre: "Larisa Peshkova",
    apodo: "Lary",
    peso: "Peso Mosca",
    record: "",
    foto: larisa,
  },
  {
    nombre: "Joaquín Lechuga",
    apodo: "El Galgo",
    peso: "Peso Ligero",
    record: "2 - 0 - 0",
    foto: kinoa,
  },
  {
    nombre: "",
    apodo: "",
    peso: "",
    record: "",
    foto: user,
  },
];
---

<Layout title="Siam May Xerez | Gimnasio de Muay Thai y MMA en Jerez">
  <Navbar />

  <section class="p-5 bg-gray-100">
    <div class="max-w-4xl mx-auto text-center mb-12">
      <h1 class="text-2xl md:text-3xl lg:text-4xl font-bold text-gray-800 mb-4">
        Nuestros Luchadores
      </h1>
      <p class="text-gray-600 text-base md:text-lg text-balance">
        Descubre la fuerza emergente de nuestros talentosos luchadores amateurs,
        quienes se preparan para dejar su marca en el mundo del Muay Thai y MMA.
      </p>
    </div>
    <div class="grid grid-cols-2 lg:grid-cols-4 gap-5">
      {
        luchadores.map((luchador) => (
          <div class="border border-gray-300 rounded-3xl shadow-lg p-2 text-center flex flex-col justify-between bg-white">
            <div class="overflow-hidden rounded-lg aspect-[3/4] w-full">
              <Image
                src={luchador.foto}
                alt={luchador.nombre}
                width={300}
                height={400}
                format="webp"
                quality={80}
                class="zoom w-full h-full object-cover object-top"
              />
            </div>
            <div class="mt-2">
              <p class="text-xs sm:text-sm md:text-base font-medium uppercase text-gray-600">
                {luchador.apodo || "\u00A0"}
              </p>
              <h3 class="text-xs sm:text-sm md:text-base lg:text-lg font-semibold uppercase">
                {luchador.nombre}
              </h3>
              <p class="text-xs sm:text-sm md:text-base text-gray-600">
                {luchador.peso}
              </p>
              <p class="text-xs sm:text-sm md:text-base font-medium">
                {luchador.record || "\u00A0"}
              </p>
            </div>
          </div>
        ))
      }
    </div>
  </section>
  <Footer />
</Layout>

<style>
  img {
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.8));
  }
  /* 
  img:hover {
    transition: transform 0.3s ease;
    transform: scale(1.1);
  }
  */
  .zoom {
    transition: all 0.5s ease;
  }

  .zoom:hover {
    transform: scale(1.1);
  }
</style>
