---
import Layout from "@/layouts/Layout.astro";
import Navbar from "@components/NavBar.astro";
import Footer from "@components/Footer.astro";

const luchadores = [
  {
    nombre: "Alvaro 'La Bestia' Grimaldi",
    peso: "Peso Wélter",
    foto: "/grimaldi.webp",
  },
  {
    nombre: "Gonzalo 'Boneless' Rainer",
    peso: "Peso Ligero",
    foto: "/rainer.webp",
  },
  {
    nombre: "Cristóbal 'Ardilla' López",
    peso: "Peso Ligero",
    foto: "/cristobal.webp",
  },
  { nombre: "Nombre 'Apodo' Apellido", peso: "Peso ?", foto: "/user.png" },
  { nombre: "Nombre 'Apodo' Apellido", peso: "Peso ?", foto: "/user.png" },
  { nombre: "Nombre 'Apodo' Apellido", peso: "Peso ?", foto: "/user.png" },
  { nombre: "Nombre 'Apodo' Apellido", peso: "Peso ?", foto: "/user.png" },
  { nombre: "Nombre 'Apodo' Apellido", peso: "Peso ?", foto: "/user.png" },
  { nombre: "Nombre 'Apodo' Apellido", peso: "Peso ?", foto: "/user.png" },
  { nombre: "Nombre 'Apodo' Apellido", peso: "Peso ?", foto: "/user.png" },
  { nombre: "Nombre 'Apodo' Apellido", peso: "Peso ?", foto: "/user.png" },
  { nombre: "Nombre 'Apodo' Apellido", peso: "Peso ?", foto: "/user.png" },
];
---

<Layout title="Siam May Xerez | Gimnasio de Muay Thai en Jerez">
  <Navbar />

  <section class="p-5">
    <div class="grid grid-cols-1 xs:grid-cols-2 lg:grid-cols-4 gap-5">
      {
        luchadores.map((luchador) => (
          <div class=" border border-gray-300 rounded-lg p-2 text-center flex flex-col justify-between">
            <div class="overflow-hidden">
              <img
                src={luchador.foto}
                alt={luchador.nombre}
                class="zoom rounded-lg mx-auto object-fill"
                style="height: 300px;"
              />
            </div>
            <div class="mt-2">
              <h3 class="text-lg font-semibold">{luchador.nombre}</h3>
              <p class="text-gray-600">{luchador.peso}</p>
            </div>
          </div>
        ))
      }
    </div>
  </section>
  <Footer />
</Layout>

<style>
  img {
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));
  }
  /* 
  img:hover {
    transition: transform 0.3s ease;
    transform: scale(1.1);
  }
  */
  .zoom {
    transition: all 0.5s ease;
  }

  .zoom:hover {
    transform: scale(1.1);
  }
</style>
