---
import Layout from "@/layouts/Layout.astro";
import Navbar from "@components/NavBar.astro";
import Footer from "@components/Footer.astro";
import { Image } from "astro:assets";
import may from "../images/may.webp";

---

<Layout title="Siam May Xerez | Gimnasio de Muay Thai y MMA en Jerez">
  <Navbar />
  <main class="flex-grow bg-gray-100">
    <section class="py-20 px-6">
      <div
        class="max-w-7xl mx-auto lg:grid lg:grid-cols-2 lg:gap-12 items-center"
      >
        <div class="relative">
          <Image
            src={may}
            alt="Entrenador May"
            width={1200}
            height={800}
            format="webp"
            quality={80}
            class="w-full zoom max-h-[620px] aspect-square object-contain"
          />
        </div>

        <!-- Texto -->
        <div class="mt-8 lg:mt-0">
          <h2
            class="text-xl md:text-2xl lg:text-3xl font-bold text-gray-800 my-4 text-center lg:text-left"
          >
            Conoce a May
          </h2>
          <p class="py-2 text-pretty text-gray-800 leading-relaxed">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et
            ipsum id diam gravida dignissim in sed orci. Maecenas dictum sed
            felis non placerat. Ut risus tortor, vehicula eu risus non,
            elementum feugiat ante. Sed eu enim urna. Duis molestie lobortis
            orci, vel finibus massa tincidunt vel.
          </p>
          <p class="py-2 text-pretty text-gray-800 leading-relaxed mt-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et
            ipsum id diam gravida dignissim in sed orci. Maecenas dictum sed
            felis non placerat. Ut risus tortor, vehicula eu risus non,
            elementum feugiat ante. Sed eu enim urna. Duis molestie lobortis
            orci, vel finibus massa tincidunt vel.
          </p>
          <p class="py-2 text-pretty text-gray-800 leading-relaxed mt-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et
            ipsum id diam gravida dignissim in sed orci. Maecenas dictum sed
            felis non placerat. Ut risus tortor, vehicula eu risus non,
            elementum feugiat ante. Sed eu enim urna. Duis molestie lobortis
            orci, vel finibus massa tincidunt vel.
          </p>
        </div>
      </div>
    </section>
  </main>
  <Footer />
</Layout>
<style>
  img {
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));
  }
  /* 
  img:hover {
    transition: transform 0.3s ease;
    transform: scale(1.1);
  }
  */
  .zoom {
    transition: all 0.5s ease;
  }

  .zoom:hover {
    transform: scale(1.1);
  }
</style>
