---
import Layout from "@/layouts/Layout.astro";
import Navbar from "@components/NavBar.astro";
import Footer from "@components/Footer.astro";
import { Image } from "astro:assets";
import may from "../images/may.webp";
---

<Layout title="Siam May Xerez | Gimnasio de Muay Thai y MMA en Jerez">
  <Navbar />
  <main class="flex-grow bg-gray-100">
    <section class="py-20 px-6">
      <div
        class="max-w-7xl mx-auto lg:grid lg:grid-cols-2 lg:gap-12 items-center"
      >
        <div class="relative">
          <Image
            src={may}
            alt="Entrenador May"
            width={1200}
            height={800}
            format="webp"
            quality={80}
            class="w-full zoom max-h-[620px] aspect-square object-contain"
          />
        </div>

        <!-- Texto -->
        <div class="mt-8 lg:mt-0">
          <h2
            class="text-xl md:text-2xl lg:text-3xl font-bold text-gray-800 my-4 text-center lg:text-left"
          >
            Conoce a May
          </h2>
          <p class="py-2 text-pretty text-gray-800 leading-relaxed">
            La trayectoria de May en las artes marciales comenzó a la temprana
            edad de <strong>13 años</strong> con el <strong>boxeo</strong>,
            disciplina que practicó durante 8 años. Su pasión por las artes
            marciales lo llevó a explorar diversas disciplinas como el <strong
              >Aikido</strong
            > y el <strong>Krav Maga</strong>, ampliando así su comprensión del
            combate y las artes marciales.
          </p>
          <p class="py-2 text-pretty text-gray-800 leading-relaxed mt-4">
            A los 28 años, May encontró su verdadera pasión en el <strong
              >Muay Thai</strong
            >. Su viaje en este arte comenzó en el prestigioso
            <strong>Club José Valenciano</strong> de Madrid, donde entrenó durante
            5 años. Posteriormente, continuó su formación en el
            <strong>Club Hanuman</strong> de Córdoba y el <strong
              >Club Thai Dragon</strong
            > de Chiclana, donde también compitió activamente. Su experiencia incluye
            también su paso por el <strong>Club Siam Boxing Jerez</strong>,
            donde siguió desarrollándose como luchador.
          </p>
          <p class="py-2 text-pretty text-gray-800 leading-relaxed mt-4">
            Como competidor, May ha alcanzado logros significativos, incluyendo
            ser <strong>tres veces Campeón de España</strong> y
            <strong>Campeón de Andalucía</strong>. Ha competido a nivel andaluz,
            nacional y europeo. Sin embargo, fiel a la filosofía del
            <strong>Muay Thai</strong>, May enfatiza los valores de <strong
              >humildad</strong
            > y <strong>respeto</strong> por encima de los títulos. Como entrenador
            certificado con el <strong>Decimoprimer Khan</strong> por las federaciones
            <strong>FEMP</strong>, <strong>FEMT</strong> y
            <strong>FAKM</strong>, lleva más de <strong>22 años</strong> dedicado
            a la enseñanza, transmitiendo no solo técnica sino también los valores
            fundamentales de este arte marcial.
          </p>
        </div>
      </div>
    </section>
  </main>
  <Footer />
</Layout>
<style>
  img {
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));
  }
  /* 
  img:hover {
    transition: transform 0.3s ease;
    transform: scale(1.1);
  }
  */
  .zoom {
    transition: all 0.5s ease;
  }

  .zoom:hover {
    transform: scale(1.1);
  }
</style>
