---
import Layout from "@/layouts/Layout.astro";
import Navbar from "@components/NavBar.astro";
import Footer from "@components/Footer.astro";
import { Image } from "astro:assets";
import rocky from "../images/rocky.webp";
---

<Layout title="Siam May Xerez | Gimnasio de Muay Thai y MMA en Jerez">
  <Navbar />
  <main class="flex-grow bg-gray-100">
    <section class="py-12 px-6">
      <div
        class="max-w-7xl mx-auto lg:grid lg:grid-cols-2 lg:gap-12 items-center"
      >
        <div class="relative">
          <Image
            src={rocky}
            alt="Entrenador Rocky"
            width={1200}
            height={800}
            format="webp"
            quality={80}
            class="w-full max-h-[620px] aspect-square object-contain zoom"
          />
        </div>

        <!-- Texto -->
        <div class="mt-8 lg:mt-0">
          <h2
            class="text-xl md:text-2xl lg:text-3xl font-bold text-gray-800 my-4 text-center lg:text-left"
          >
            Conoce a Rocky
          </h2>
          <p class="py-2 text-pretty text-gray-800 leading-relaxed">
            El camino de Rocky en los deportes de combate comenzó en el
            <strong>ejército</strong>, donde sirvió como <strong
              >policía militar</strong
            > especializado en
            <strong>operaciones antiterroristas</strong>. Allí fue introducido
            al <strong>combate cuerpo a cuerpo</strong>, una habilidad esencial
            para su rol que despertó su pasión por las <strong
              >artes marciales</strong
            >.
            <br /> Esto lo llevó a profundizar en el <strong>boxeo</strong>, el <strong
              >Muay Thai</strong
            > y el
            <strong>Brazilian Jiu-Jitsu (BJJ)</strong>, buscando ampliar su
            experiencia más allá del entrenamiento militar.
          </p>
          <p class="py-2 text-pretty text-gray-800 leading-relaxed mt-4">
            De 2011 a 2014, Rocky entrenó en <strong
              >Revolution Martial Arts</strong
            >, uno de los
            <strong>mejores</strong> gimnasios de MMA en el sureste de EE. UU. Allí
            trabajó junto a
            <strong>luchadores olímpicos</strong>, <strong
              >campeones mundiales de kickboxing</strong
            > y
            <strong>campeones regionales de MMA</strong>.<br /> También fue compañero
            de sparring de peleadores de la <strong>UFC</strong>, adquiriendo
            experiencia de primera mano en el más alto nivel del deporte.
          </p>
          <p class="py-2 text-pretty text-gray-800 leading-relaxed mt-4">
            Como entrenador de MMA, Rocky se enfoca en desarrollar la <strong
              >confianza</strong
            >, la
            <strong>técnica</strong> y la <strong
              >inteligencia de combate</strong
            >
            de sus atletas. Su enfoque estructurado simplifica técnicas complejas,
            haciéndolas accesibles tanto para <strong>principiantes</strong>
            como para <strong>peleadores experimentados</strong>.<br /> Ya sea que
            busques mejorar tu
            <strong>golpeo</strong>, perfeccionar tu <strong>grappling</strong> o
            prepararte para la
            <strong>competencia</strong>, la experiencia y pasión de Rocky por
            la <strong>enseñanza</strong>
            te ayudarán a alcanzar el <strong>éxito</strong>.
          </p>
        </div>
      </div>
    </section>
  </main>
  <Footer />
</Layout>
<style>
  img {
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));
  }
  /* 
  img:hover {
    transition: transform 0.3s ease;
    transform: scale(1.1);
  }
  */
  .zoom {
    transition: all 0.5s ease;
  }

  .zoom:hover {
    transform: scale(1.1);
  }
</style>
