<div
  class="pt-10 text-center text-balance space-y-10 max-w-4xl mx-auto px-8 pb-20"
>
  <p class="font-semibold text-xl">
    Bienvenidos a Siam May Thai Gym Muaythai, tu gimnasio de confianza en Jerez
  </p>
  <p>
    <strong
      >En Siam May Thai Gym Muaythai te ofrecemos un ambiente familiar y cercano</strong
    >, donde podrás disfrutar de un entrenamiento personalizado y adaptado a tus
    necesidades. Nuestro equipo de profesionales te ayudará a conseguir tus
    objetivos, ya sea mejorar tu condición física, perder peso, aprender defensa
    personal o simplemente mantenerte en forma.
  </p>
  <p>
    Situados en la calle Salvador Dalí, somos un <strong
      >centro especializado</strong
    > en la enseñanza y práctica del Muay Thai, también conocido como boxeo tailandés.
  </p>
  <p>
    En nuestro gimnasio, nos enfocamos en brindar un ambiente seguro y acogedor
    para que nuestros alumnos puedan aprender y mejorar sus habilidades en el
    Muay Thai. Nuestro equipo de entrenadores <strong>altamente cualificados</strong> está
    comprometido en ayudarte a <strong>alcanzar tus metas</strong>, ya sea que
    estés buscando ponerte en forma, competir o simplemente disfrutar de esta
    disciplina marcial.
  </p>
</div>
