<section class="animate-fade-in animate-duration-[1s]">
  <div
    id="about"
    class="pt-10 xs:pt-32 text-center text-balance space-y-10 max-w-5xl mx-auto px-8 pb-10 xs:pb-20 animate-fade-in animate-duration-[2s]"
  >
    <h2 class="font-semibold text-xl xs:text-3xl">
      Bienvenidos a Siam May Xerez,<br /> tu gimnasio de confianza en Jerez
    </h2>
    <p class="xs:text-lg text-regular">
      <strong
        >En Siam May Xerez te ofrecemos un ambiente familiar y cercano</strong
      >, donde podrás disfrutar de un entrenamiento personalizado y adaptado a
      tus necesidades. Te ayudaremos a conseguir tus objetivos, ya sea mejorar
      tu condición física, perder peso, aprender defensa personal o simplemente
      mantenerte en forma.
    </p>
    <p class="xs:text-xl text-lg">
      Somos un <strong>centro especializado</strong> en la enseñanza y práctica del
      Muay Thai, también conocido como boxeo tailandés.
    </p>
    <p class="xs:text-xl text-lg">
      En nuestro gimnasio, nos enfocamos en brindar un ambiente seguro y
      acogedor para que nuestros alumnos puedan aprender y mejorar sus
      habilidades en el Muay Thai. <br /> Nuestro equipo de entrenadores <strong
        >altamente cualificados</strong
      > está comprometido en ayudarte a <strong>alcanzar tus metas</strong>, ya
      sea que estés buscando ponerte en forma, competir o simplemente disfrutar
      de esta disciplina marcial.
    </p>
  </div>
</section>
<style>
  section {
    background-image: url(/thais.webp);
    background-size: cover;
    background-position: center;
  }

  #about {
    background-color: rgba(255, 255, 255, 0.6);
  }
</style>
