<div class="intro pt-10 text-center text-balance space-y-10 mx-22 pb-32">
  <h2 class="text-6xl font-semibold">Siam May Thai Gym</h2>
  <p class="font-semibold text-xl">
    Bienvenidos a Siam May Thai Gym Muaythai, tu gimnasio de confianza en Jerez
  </p>
  <p>
    <strong
      >En Siam May Thai Gym Muaythai te ofrecemos un ambiente familiar y cercano</strong
    >, donde podrás disfrutar de un entrenamiento personalizado y adaptado a tus
    necesidades. Nuestro equipo de profesionales te ayudará a conseguir tus
    objetivos, ya sea mejorar tu condición física, perder peso, aprender defensa
    personal o simplemente mantenerte en forma.
  </p>
  <p>
    Situados en la calle Salvador Dalí, somos un centro especializado en la
    enseñanza y práctica del Muay Thai, también conocido como boxeo tailandés.
  </p>
  <p>
    En nuestro gimnasio, nos enfocamos en brindar un ambiente seguro y acogedor
    para que nuestros alumnos puedan aprender y mejorar sus habilidades en el
    Muay Thai. Nuestro equipo de entrenadores altamente calificados está
    comprometido en ayudarte a alcanzar tus metas, ya sea que estés buscando
    ponerte en forma, competir o simplemente disfrutar de esta disciplina
    marcial.
  </p>
</div>
