---
const words = [
  "Disciplina",
  "Respeto",
  "Fuerza",
  "Confianza",
  "Valor",
  "Familia",
  "Superación",
  "Energía",
  "Pasión",
  "Coraje",
];
---

<div class="carousel pt-5 md:pt-10">
  <div class="carousel-track py-5 md:py-10 text-xl uppercase">
    {words.map((word) => <div class="carousel-item">{word}</div>)}
    {words.map((word) => <div class="carousel-item">{word}</div>)}
  </div>
</div>

<style>
  .carousel {
    display: flex;
    overflow: hidden;
    width: 100vw;
  }

  .carousel-track {
    display: flex;
    animation: scroll 60s linear infinite;
  }

  .carousel-item {
    flex: 0 0 auto;
    width: auto;
    padding: 0 1vw;
    text-align: center;
    margin-right: 2vw;
    font-size: 2rem;
    font-weight: bold;
  }

  @media (min-width: 768px) {
    .carousel-item {
      font-size: 4rem;
    }
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
</style>
