<div class="contact text-center pt-10 space-y-8 text-white">
  <h2 class="text-3xl font-semibold uppercase">Contacto</h2>
  <p class="text-xl">
    Si tienes alguna duda o sugerencia, no dudes en contactar con nosotros.
  </p>
  <div class="grid grid-cols-3">
    <div class="space-y-2 text-xl">
      <p class="uppercase text-2xl">Teléfono</p>
      <p>
        <a
          href="tel:638827871"
          class="hover:underline cursor-pointer"
          onclick="window.location.href='tel:638827871'">638 82 78 71</a>
      </p>
    </div>
    <div class="space-y-2 text-xl">
      <p class="uppercase text-2xl">email</p>
      <p>
        <a
          class="hover:underline cursor-pointer"
          onclick="window.location.href='mailto:siammaythai@gmail.com'"
          href="mailto:siammaythai@gmail.com">siammaythai@gmail.com</a
        >
      </p>
    </div>
    <div class="space-y-2 text-xl">
      <p class="uppercase text-2xl">Dirección</p>
      <p>
        <a
          class="hover:underline"
          href="https://maps.app.goo.gl/yaxDwTnnt3cfDs4aA"
          target="_blank"
          >C/ Salvador Dalí 3, 11405 <br />JEREZ DE LA FRONTERA</a
        >
      </p>
    </div>
  </div>
</div>
<style>
  .contact {
    background-image: url("/contact-bg.webp");
    background-size: cover;
    background-position: center;
    height: 400px;
  }
</style>
