<div class="bg-black text-center py-10 sm:space-y-8 text-white lg:px-32">
  <h2 class="text-3xl font-semibold uppercase text-red-700">Contacto</h2>
  <p class="text-xl py-2">
    Si tienes alguna duda o sugerencia, no dudes en contactar con nosotros.
  </p>
  <div class="grid grid-cols-1 xs:grid-cols-3 sm:mx-20">
    <div class="space-y-2 text-xl py-4">
      <p class="uppercase text-2xl text-red-700">Teléfono</p>
      <p>
        <a
          href="tel:638827871"
          class="hover:underline cursor-pointer"
          onclick="window.location.href='tel:638827871'">638 82 78 71</a
        >
      </p>
    </div>
    <div class="space-y-2 text-xl py-4">
      <p class="uppercase text-2xl text-red-700">email</p>
      <p>
        <a
          class="hover:underline cursor-pointer"
          onclick="window.location.href='mailto:siammaythai@gmail.com'"
          href="mailto:siammaythai@gmail.com">siammaythai@gmail.com</a
        >
      </p>
    </div>
    <div class="space-y-2 text-xl py-4">
      <p class="uppercase text-2xl text-red-700">Dirección</p>
      <p>
        <a
          class="hover:underline"
          href="https://maps.app.goo.gl/yaxDwTnnt3cfDs4aA"
          target="_blank"
          >C/ Salvador Dalí 3, 11405 <br />JEREZ DE LA FRONTERA</a
        >
      </p>
    </div>
  </div>
</div>
