<div
  id="contacto"
  class="bg-black text-center py-10 sm:space-y-8 text-white lg:px-32"
>
  <h2
    class="text-3xl font-semibold uppercase text-red-700 animate-bouncing animate-duration-1000"
    style="animation-iteration-count: infinite;"
  >
    Contacto
  </h2>
  <p class="text-xl py-2">
    ¿A qué esperas para unirte a la familia? ¡Contacta con nosotros!
  </p>
  <div class="grid grid-cols-1 xs:grid-cols-3 sm:mx-20">
    <div class="space-y-2 text-xl py-4">
      <h3 class="uppercase text-2xl text-red-700">Llámanos</h3>
      <p>
        <a
          href="tel:638827871"
          class="hover:underline cursor-pointer"
          onclick="window.location.href='tel:638827871'">638 82 78 71</a
        >
        <span>&nbsp&nbsp/&nbsp&nbsp</span>
        <a
          href="tel:615925933"
          class="hover:underline cursor-pointer"
          onclick="window.location.href='tel:615925933'">615 92 59 33</a
        >
      </p>
    </div>
    <div class="space-y-2 text-xl py-4">
      <h3 class="uppercase text-2xl text-red-700">Instagram</h3>
      <p>
        <a
          class="hover:underline"
          href="https://www.instagram.com/siammayxerez"
          target="_blank">@siammayxerez</a
        >
      </p>
    </div>
    <div class="space-y-2 text-xl py-4">
      <h3 class="uppercase text-2xl text-red-700">email</h3>
      <p>
        <a
          class="hover:underline cursor-pointer"
          onclick="window.location.href='mailto:siammaythai@gmail.com'"
          href="mailto:siammaythai@gmail.com">siammaythai@gmail.com</a
        >
      </p>
    </div>
  </div>
</div>
