---
import { Image } from "astro:assets";
import logo from "../../public/logo.webp";
import mma from "../../public/MMA2.webp";
---

<footer class="bg-black">
  <div
    class="relative mx-auto max-w-screen-xl px-4 py-10 sm:px-6 lg:px-8 lg:pt-18"
  >
    <div class="lg:flex lg:items-end lg:justify-between">
      <div>
        <div class="flex justify-evenly">
          <!--
          <Image
            src={logo}
            class="w-20"
            alt="Logo de Siam May Thai"
            width={80}
            height={80}
            format="webp"
            quality={80}
          />
          -->
          <a href="/" aria-label="Ir a la página principal de Siam May Xerez">
            <Image
              src={mma}
              class="w-20 rounded-full"
              alt="Logo de Siam May Xerez | Muay Thai y MMA"
              width={84}
              height={84}
              format="webp"
              quality={100}
            />
          </a>
        </div>

        <p
          class="mx-auto mt-6 max-w-md text-center leading-relaxed text-white lg:text-left"
        >
          Si quieres formar parte de esta familia de guerrer@s, no dudes en
          contactar con nosotros. ¡Te esperamos!
        </p>
      </div>

      <ul
        class="mt-12 flex flex-wrap justify-center gap-6 md:gap-8 lg:mt-0 lg:justify-end lg:gap-12"
      >
        <li>
          <a
            class="text-white transition hover:text-white/75 flex items-center gap-2"
            href="mailto:a.d.siammayjerez@gmail.com"
            aria-label="Enviar un correo electrónico a a.d.siammayjerez@gmail.com"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-mail transition duration-500 transform hover:scale-110 hover:text-blue-400"
              role="img"
              aria-hidden="true"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
              ></path>
              <path d="M3 7l9 6l9 -6"></path>
            </svg>
            <span class="sr-only">Email</span>
          </a>
        </li>

        <li>
          <a
            class="text-white transition hover:text-white/75 flex items-center gap-2"
            href="https://www.instagram.com/siammayxerez_thai"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Síguenos en Instagram @siammayxerez_thai"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram transition duration-500 transform hover:scale-110 hover:text-pink-500"
              role="img"
              aria-hidden="true"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M4 8a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
              ></path><path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path><path
                d="M16.5 7.5v.01"></path></svg
            >
            <span class="sr-only">Instagram</span>
          </a>
        </li>

        <li>
          <a
            class="text-white transition hover:text-white/75 flex items-center gap-2"
            href="/horario"
            aria-label="Consulta nuestros horarios de clases"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-calendar-clock transition duration-500 transform hover:scale-110 hover:text-blue-500"
              role="img"
              aria-hidden="true"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M10.5 21h-4.5a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v3"
              ></path><path d="M16 3v4"></path><path d="M8 3v4"></path><path
                d="M4 11h10"></path><path
                d="M18 18m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path><path
                d="M18 16.5v1.5l.5 .5"></path></svg
            >
            <span class="sr-only">Horarios</span>
          </a>
        </li>

        <li>
          <a
            class="text-white transition hover:text-white/75"
            href="/contacto"
            aria-label="Página de contacto y ubicación"
          >
            Contacto
          </a>
        </li>
      </ul>
    </div>

    <p class="mt-12 text-center text-sm text-white lg:text-right">
      &copy; 2024 - Todos los derechos reservados - Desarrollado por <a
        class="hover:underline"
        href="https://benjamibono.dev"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Visita la web del desarrollador Benjami Bono"
      >
        Benjami Bono
      </a>
    </p>
  </div>
</footer>
