<div class="pt-10 xs:pt-20 pb-5 xs:pb-10 px-4 max-w-[1800px] mx-auto">
  <h3 class="flex justify-center pb-6 font-semibold text-balance text-center md:text-3xl">
    "La verdadera batalla está en superarte a ti mismo cada día"
  </h3>
  <div class="grid grid-cols-2 md:grid-cols-3 gap-1">
    {
      [
        { src: "thai1.JPG" },
        { src: "thai2.JPG" },
        { src: "thai3.JPG" },
        { src: "/ej1.webp" },
        { src: "/ej4.webp" },
        { src: "/ej6.webp" },
      ].map((image) => (
        <div class="overflow-hidden rounded-lg">
          <img
            class="zoom object-cover w-full h-full"
            src={image.src}
            decoding="async"
            loading="lazy"
            style="aspect-ratio: 1 / 1;"
          />
        </div>
      ))
    }
  </div>
</div>

<style>
  .zoom {
    transition: all 0.5s ease;
  }

  .zoom:hover {
    transform: scale(1.1);
  }
</style>
