<div id="galeria" class="pt-32 pb-10 px-4 sm:px-16">
  <h2 class="flex justify-center pb-6 font-semibold text-3xl">Galería</h2>
  <div class="grid grid-cols-2 md:grid-cols-3 gap-1">
    <div class="overflow-hidden rounded-lg">
      <img
        class="zoom"
        src="thai2.webp"
        decoding="async"
        loading="lazy"
        title="sillon de dentista"
        alt="sillon de dentista"
      />
    </div>
    <div class="overflow-hidden rounded-lg">
      <img
        class="zoom"
        src="/thai2.webp"
        decoding="async"
        loading="lazy"
        title="sala de espera"
        alt="sala de espera"
      />
    </div>
    <div class="overflow-hidden rounded-lg">
      <img
        class="zoom"
        src="/thai2.webp"
        decoding="async"
        loading="lazy"
        title="esterilizacion"
        alt="esterilizacion"
      />
    </div>
    <div class="overflow-hidden rounded-lg">
      <img
        class="zoom"
        src="/thai2.webp"
        decoding="async"
        loading="lazy"
        title="instrumentos"
        alt="instrumentos"
      />
    </div>
    <div class="overflow-hidden rounded-lg">
      <img
        class="zoom"
        src="/thai2.webp"
        decoding="async"
        loading="lazy"
        title="ultrasonido"
        alt="ultrasonido"
      />
    </div>
    <div class="overflow-hidden rounded-lg">
      <img
        class="zoom"
        src="/thai2.webp"
        decoding="async"
        loading="lazy"
        title="radiografia"
        alt="radiografia"
      />
    </div>
  </div>
</div>

<style>
  #galeria {
    @media (min-width: 1400px) {
      margin: 0% 10%;
    }
  }
  .zoom {
    transition: all 0.5s ease;
  }

  .zoom:hover {
    transform: scale(1.2);
  }
</style>
