<div id="galeria" class="pt-10 xs:pt-32 pb-5 xs:pb-10 px-4 sm:px-16">
  <h3 class="flex justify-center pb-6 font-semibold text-balance text-center md:text-3xl">
    "La verdadera batalla está en superarte a ti mismo cada día"
  </h3>
  <div class="grid grid-cols-2 md:grid-cols-3 gap-1">
    {
      [
        { src: "thai3.webp" },
        { src: "/thai2.webp" },
        { src: "/ej1.webp" },
        { src: "/ej4.webp" },
        { src: "/ej5.webp" },
        { src: "/ej6.webp" },
      ].map((image) => (
        <div class="overflow-hidden rounded-lg">
          <img
            class="zoom object-cover w-full h-full"
            src={image.src}
            decoding="async"
            loading="lazy"
            style="aspect-ratio: 1 / 1;"
          />
        </div>
      ))
    }
  </div>
</div>

<style>
  #galeria {
    @media (min-width: 1400px) {
      margin: 0% 10%;
    }
  }
  .zoom {
    transition: all 0.5s ease;
  }

  .zoom:hover {
    transform: scale(1.1);
  }
</style>
