<div id="horario" class="container  py-32 mx-auto min-w-full">
  <div class="rectangle text-white uppercase"></div>
</div>

<style>
  .container {
    background-image: url("/thai3.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .rectangle {
    background-image: url("/horario.jpeg");
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 800px;
  }

  @media (max-width: 640px) {
    .rectangle {
      height: 220px;
      width: 400px;
    }
  }
</style>

