<div class="container pb-10 pt-10">
  <div class="rectangle text-white uppercase">
  </div>
</div>

<style>
  .container {
    background-image: url("/thai3.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .rectangle {
    background-image: url("/horario.jpeg");
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 800px;
  }
</style>
