<div
  class="h-screen space-y-10 bg-cover bg-center flex flex-col justify-center items-center bg-[url('/blur.webp')] rounded-3xl m-4 p-4 md:p-8"
  role="img"
  aria-label="Fondo difuminado del gimnasio Siam May Thai"
>
  <h1
    class="text-3xl md:text-5xl lg:text-7xl text-red-600 uppercase text-center"
  >
    Siam May Xerez
  </h1>
  <h2 class="text-xl md:text-2xl text-white text-center text-balance">
    Entrena, aprende y disfruta del Muay Thai y MMA para todos los niveles y
    edades.
  </h2>
  <h3 class="text-lg md:text-xl text-white text-center text-balance">
    - Acerca de nosotros -
  </h3>
  <p
    class="text-base md:text-xl max-w-screen-lg text-center text-white text-balance"
  >
    En SIAM MAY XEREZ combinamos tradición y modernidad para ofrecer clases de
    Muay Thai y MMA en un entorno familiar. Tanto si buscas mejorar tu físico,
    aprender a defenderte o competir, aquí encontrarás el lugar perfecto para
    crecer.
  </p>
</div>
