<div id="hero" class="text-center space-y-10">
  <h1
    class="text-4xl xs:text-5xl sm:text-7xl xl:text-9xl font-bold text-red-600 uppercase animate-blurred-fade-in animate-duration-[1.5s]"
  >
    Siam May Xerez
  </h1>
  <h2
    class="text-lg xs:text-2xl sm:text-3xl xl:text-4xl text-white uppercase animate-blurred-fade-in animate-duration-[1.5s]"
  >
    Muay Thai en Jerez de la Frontera
  </h2>
</div>

<style>
  #hero {
    background-image: url("/blur.webp");
    background-size: cover;
    background-position: center;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 640px) {
    #hero {
      height: 400px;
    }
  }
</style>
