<div id="hero" class="text-center pb-32">
  <h1 class="text-7xl font-bold text-red-600 uppercase">Siam May Thai Gym</h1>
  <h2 class="text-2xl text-white uppercase pt-6">
    Muay Thai en Jerez de la Frontera
  </h2>
</div>


<style>
  #hero {
    background-image: url("/rodtang.webp");
    background-size: cover;
    background-position: center;
    height: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>
