<div
  class="h-screen space-y-10 bg-cover bg-center flex flex-col justify-center items-center bg-[url('/blur.webp')] sm:rounded-3xl sm:m-4 p-4 md:p-8"
  role="img"
  aria-label="Fondo difuminado del gimnasio Siam May Thai"
>
  <h1
    class="text-3xl md:text-4xl lg:text-5xl xl:text-6xl xxl:text-7xl xxxl:text-8xl text-red-600 uppercase text-center"
  >
    Siam May Xerez
  </h1>
  <h2
    class="text-xl md:text-2xl lg:text-3xl xl:text-3xl xxl:text-4xl xxxl:text-5xl text-white text-center text-balance"
  >
    Entrena, aprende y disfruta del Muay Thai y MMA para todos los niveles y
    edades.
  </h2>
  <h3
    class="text-lg md:text-xl lg:text-xl xl:text-2xl xxl:text-3xl xxxl:text-4xl text-white text-center text-balance"
  >
    - Acerca de nosotros -
  </h3>
  <p
    class="text-base md:text-lg lg:text-xl xl:text-2xl xxl:text-3xl xxxl:text-4xl max-w-screen-xl xxl:max-w-screen-2xl xxxl:max-w-[2400px] text-center text-white text-balance"
  >
    En SIAM MAY XEREZ combinamos tradición y modernidad para ofrecer clases de
    Muay Thai y MMA en un entorno familiar. Tanto si buscas mejorar tu físico,
    aprender a defenderte o competir, aquí encontrarás el lugar perfecto para
    crecer.
  </p>
</div>
