<div class="flex flex-col bg-gray-100 md:flex-row min-h-[75vh]">
  <div class="md:w-1/2 p-5 m-auto space-y-24">
    <h2
      class="text-2xl font-bold my-4 text-center lg:text-2xl xl:text-3xl tracking-wider"
    >
      ¿A qué esperas?
    </h2>
    <p
      class="text-lg leading-relaxed text-balance text-center lg:text-xl xl:text-2xl"
    >
      ¡Únete a Siam May Thai y transforma tu vida hoy! Nuestro gimnasio ofrece
      una experiencia única que combina entrenamiento físico y mental. No
      importa tu nivel de experiencia, estamos aquí para ayudarte a alcanzar tus
      metas. ¡Ven y descubre la mejor versión de ti mismo!
    </p>

    <div class="flex justify-evenly space-x-6 pb-6">
      <a
        class="text-gray-700 hover:text-gray-900 transform hover:scale-110 transition-transform duration-500"
        href="mailto:a.d.siammayjerez@gmail.com"
        aria-label="Enviar un correo electrónico a a.d.siammayjerez@gmail.com"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-mail"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
          ></path>
          <path d="M3 7l9 6l9 -6"></path>
        </svg>
      </a>
      <a
        class="text-gray-700 hover:text-gray-900 transform hover:scale-110 transition-transform duration-500"
        href="https://www.instagram.com/siammayxerez_thai"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Síguenos en Instagram @siammayxerez_thai"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M4 8a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
          ></path>
          <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
          <path d="M16.5 7.5v.01"></path>
        </svg>
      </a>
    </div>
  </div>
  <div class="md:w-1/2">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1599.531809431319!2d-6.0983701!3d36.6970091!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd0dc7f603ce41bf%3A0xf663f5193818bdb0!2sSiam%20May%20Thai!5e0!3m2!1ses!2ses!4v1716377630760!5m2!1ses!2ses"
      class="w-full h-[50dvh] md:h-full border-0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
<style>
  iframe {
    filter: brightness(90%);
  }
  .icon {
    width: 32px;
    height: 32px;
  }
</style>
