<div class="flex">
  <div class="w-1/2">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1599.531809431319!2d-6.0983701!3d36.6970091!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd0dc7f603ce41bf%3A0xf663f5193818bdb0!2sSiam%20May%20Thai!5e0!3m2!1ses!2ses!4v1716377630760!5m2!1ses!2ses"
      class="w-full h-96 border-0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <div class="w-1/2 p-5 bg-gray-100">
    <h2 class="text-2xl font-bold mb-4">Contacta con nosotros</h2>
    <p class="text-lg leading-relaxed">¡Únete a Siam May Thai y transforma tu vida hoy! Nuestro gimnasio ofrece una experiencia única que combina entrenamiento físico y mental. No importa tu nivel de experiencia, estamos aquí para ayudarte a alcanzar tus metas. ¡Ven y descubre la mejor versión de ti mismo!</p>
  </div>
</div>
<style>
  iframe {
    filter: brightness(85%);
  }
</style>
<style>
  iframe {
    filter: brightness(85%);
  }
</style>