<nav class="navbar md:sticky top-0 py-2 z-10">
  <div class="logo mx-auto">
    <img class="transition hover:scale-110" src="/logo.webp" alt="Logo" />
  </div>
  <ul class="text-white text-xl space-x-10 mx-auto hidden md:flex">
    <li><a class="" href="#">Inicio</a></li>
    <li><a class="" href="#">About</a></li>
    <li><a class="" href="#">Horarios</a></li>
    <li><a class="" href="#">Equipo</a></li>
    <li><a class="" href="#">Galería</a></li>
    <li><a class="" href="#">Contacto</a></li>
  </ul>
</nav>

<style>
  .navbar {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo img {
    width: 120px;
  }
  @media (max-width: 768px) {
    .logo img {
      width: 80px;
    }
  }

  li:hover {
    transform: scale(1.1);
    transition: transform 0.1s ease-in-out;
  }

  
</style>
