<nav class="navbar">
  <div class="logo ml-10">
    <img src="/logo.webp" alt="Logo" />
  </div>
  <div class="text-white space-x-10 mr-10">
    <a href="#">Inicio</a>
    <a href="#">Instalaciones</a>
    <a href="#">Galería</a>
    <a href="#">About</a>
    <a href="#">Horarios</a>
    <a href="#">Precios</a>
    <a href="#">Contacto</a>
  </div>
</nav>

<style>
  .navbar {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .logo img {
    width: 120px;
  }
</style>
