<nav class="navbar">
  <div class="logo ml-10">
    <img class="transition hover:scale-110 " src="/logo.webp" alt="Logo" />
  </div>
  <div class="text-white space-x-10 mr-10 ">
    <a class="hover:scale-150" href="#">Inicio</a>
    <a class="" href="#">Instalaciones</a>
    <a class="" href="#">Galería</a>
    <a class="" href="#">About</a>
    <a class="" href="#">Horarios</a>
    <a class="" href="#">Precios</a>
    <a class="" href="#">Contacto</a>
  </div>
</nav>

<style>
  .navbar {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .logo img {
    width: 120px;
  }
</style>
