---
import { Image } from "astro:assets";
import thais from "../images/thais.webp";
---

<section class="relative">
  <div class="absolute inset-0 w-full h-full">
    <Image
      src={thais}
      alt="Fondo de luchadores de Muay Thai"
      width={1920}
      height={1080}
      format="webp"
      quality={80}
      class="w-full h-full object-cover"
    />
  </div>
  <div
    id="about"
    class="relative pt-10 text-center text-balance space-y-10 max-w-5xl mx-auto px-8 pb-10 xs:pb-20 bg-white bg-opacity-60"
  >
    <h2 class="font-semibold text-2xl xs:text-4xl">Conócenos</h2>
    <p class="text-base xs:text-lg">
      <strong
        >En Siam May Xerez te ofrecemos un ambiente familiar y cercano</strong
      >, donde podrás disfrutar de un entrenamiento personalizado y adaptado a
      tus necesidades. Te ayudaremos a conseguir tus objetivos, ya sea mejorar
      tu condición física, perder peso, aprender defensa personal o simplemente
      mantenerte en forma.
    </p>
    <p class="text-lg xs:text-xl">
      Somos un <strong>centro especializado</strong> en la enseñanza y práctica del
      Muay Thai, también conocido como boxeo tailandés, y recientemente hemos incorporado
      MMA.
    </p>
    <p class="text-lg xs:text-xl">
      En nuestro gimnasio, nos enfocamos en brindar un ambiente seguro y
      acogedor para que nuestros alumnos puedan aprender y mejorar sus
      habilidades en las artes marciales. <br /> Nuestro equipo de entrenadores está
      comprometido en ayudarte a <strong>alcanzar tus metas</strong>, ya sea que
      estés buscando ponerte en forma, competir o simplemente disfrutar de estos
      hermosos deportes.
    </p>
    <p class="text-lg xs:text-xl">
      En SIAM MAY XEREZ, situado en Jerez de la Frontera, ofrecemos clases de
      Muay Thai para niños y adultos, así como MMA para adultos, adaptadas a
      todos los niveles. Nuestro gimnasio destaca por su ambiente familiar,
      donde entrenan personas de todas las edades y géneros, desde principiantes
      hasta deportistas de élite.
    </p>
    <p class="text-lg xs:text-xl">
      Si lo tuyo es disfrutar del deporte como un hobby, fortalecer tu cuerpo,
      ganar confianza en ti mismo o dar el salto a la competición, nuestro
      equipo está preparado para ayudarte a alcanzar tus metas. Contamos con
      alumnos que compiten a nivel nacional e internacional en Muay Thai y,
      recientemente, en MMA bajo la federación WKA Spain.
    </p>
    <p class="text-lg xs:text-xl">
      Forma parte de nuestra comunidad y descubre cómo el Muay Thai y el MMA
      pueden transformar tu vida.
    </p>
  </div>
</section>
