---
const categories = [
  { title: "Entrenadores", foto: "/entrenadores.jpg" },
  { title: "Luchadores", foto: "/luchadores.jpg" },
];
---

<div class="flex flex-col md:flex-row justify-center mt-8">
  {
    categories.map((category) => (
      <div class="w-full p-4">
        <a
          href={`/${category.title.toLowerCase()}`}
          class="relative flex items-center justify-center text-white text-2xl font-bold rounded-lg uppercase"
        >
          <div class="overflow-hidden rounded-lg">
            <img
              src={category.foto}
              alt={category.title}
              class="object-contain max-h-[456px] max-w-[600px] h-auto transform transition-transform duration-300 ease-in-out hover:scale-105"
            />
          </div>
          <div class="absolute inset-0 flex items-center justify-center pointer-events-none">
            <h3>{category.title}</h3>
          </div>
        </a>
      </div>
    ))
  }
</div>
