---
import "@fontsource-variable/montserrat";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Gimnasio de Muay Thai en Jerez. Ofrecemos clases de Muay Thai para todos los niveles, desde principiantes hasta avanzados. Ven y descubre una forma única de entrenamiento y mejora tu condición física mientras aprendes las técnicas del Muay Thai. ¡Únete a nosotros y alcanza tus metas en el mundo del Muay Thai!"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content="Gimnasio, Muay Thai, Jerez, Gym" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href="https://siam-may-thai.vercel.app/" />
    <link rel="icon" href="/favicon.svg" type="image/x-icon" />
    <link
      rel="preload"
      as="image"
      href="/blur.webp"
      type="image/webp"
      fetchpriority="high"
    />
    <link
      rel="preload"
      as="image"
      href="/cursor.png"
      type="image/png"
      fetchpriority="high"
    />
    <title>{title}</title>
  </head>
  <body>
    <div class="mx-auto min-h-screen">
      <slot />
    </div>
  </body>
</html>
<style is:global>
  html {
    font-family: "Montserrat Variable", system-ui, sans-serif;
    scrollbar-gutter: stable;
    cursor:
      url("/cursor.png") 0 0,
      auto;
  }
  body {
    overflow-x: hidden;
  }

  /* Estilos para imágenes de fondo */
  [class*="bg-[url('/blur.webp')]"]::before {
    content: "";
    display: block;
    width: 1px;
    height: 1px;
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
  }

  [class*="bg-[url('/flag-thailand.jpg')]"]::before {
    content: "";
    display: block;
    width: 1px;
    height: 1px;
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
  }
</style>
